<!doctype html>
<html>
<link rel="stylesheet" href="css/style.css">
<head>
</head>
<body>

	<h2>Frequently Bought Together</h2>
	<div class="a-container">
			<form>
					<ul class="a-nostyle a-horizontal a-spacing-base a-spacing-top-base sims-fbt-image-box">
						<li class="a-align-center">
							<span class="a-list-item">
								<div class="a-section">
									<img alt="American DJ Haze Generator Heaterless Fog Machine" src="https://images-na.ssl-images-amazon.com/images/I/41Mp8HpjHvL._AC_UL115_.jpg" class="sims-fbt-image">
								</div>
							</span>
						</li><!-- no-spacing
						--><li class="a-align-center">
							<span class="a-list-item a-size-large a-color-tertiary">+</span>
						</li><!-- no-spacing
						--><li class="a-align-center">
							<span class="a-list-item">
								<a class="a-link-normal" href="#">
									<div class="a-section">
										<img alt="American DJ Haze/G" src="https://images-na.ssl-images-amazon.com/images/I/31EgPO9ISzL._AC_UL115_.jpg" class="sims-fbt-image">
									</div>
								</a>
							</span>
						</li>
					</ul>
					<div class="sims-fbt-price-box">
						<div>
							<span class="a-size-base a-color-secondary">Total price: </span>
							<span class="a-size-medium a-color-price">$473.98</span>
						</div>
						<div class="sims-fbt-buttons">
							<div class="a-button-stack a-spacing-mini">
								<span class="a-button a-button-primary a-button-small">
									<span class="a-button-inner">
										<input class="a-button-input" type="submit">
										<span class="a-button-text" aria-hidden="true">Add both to Cart</span>
									</span>
								</span>
								<span class="a-button a-button-normal a-button-small">
									<span class="a-button-inner">
										<input class="a-button-input" type="submit">
										<span class="a-button-text a-text-center" aria-hidden="true">Add both to List</span>
									</span>
								</span>
							</div>
						</div>
					</div>
				<div class="sims-fbt-rows">
					<fieldset>
						<ul class="a-nostyle a-vertical">
							<li class="a-spacing-mini">
								<span class="a-list-item">
									<span class="a-declarative">
										<div class="a-checkbox sims-fbt-checkbox">
											<label>
												<input type="checkbox" checked=""><!-- no-spacing
												--><span class="a-label a-checkbox-label">
													<div>
														<span class="sims-fbt-this-item a-text-bold">This item:</span><!-- no-spacing
														--><span>American DJ Haze Generator Heaterless Fog Machine</span>
														<span class="a-color-price">$429.99</span>
													</div>
												</span>
											</label>
										</div>
									</span>
								</span>
							</li>
							<li class="a-spacing-mini">
								<span class="a-list-item">
									<span class="a-declarative">
										<div class="a-checkbox sims-fbt-checkbox">
											<label>
												<input type="checkbox" checked=""><!-- no-spacing
												--><span class="a-label a-checkbox-label">
													<div>
														<a class="a-size-base a-link-normal" href="#">American DJ Haze/G</a>
														<span class="a-color-price">$43.99</span>
													</div>
												</span>
											</label>
										</div>
									</span>
								</span>
							</li>
						</ul>
					</fieldset>
				</div>
			</form>
	</div>

</body>
</html>
