/* elements */

*
{
	box-sizing: border-box;
}

body
{
	font-size: 13px;
	line-height: 19px;
	color: rgb( 17, 17, 17 );
	font-family: Arial, sans-serif;
}

h2
{
	padding: 0px 0px 4px 0px;
	margin: 0px;

	text-rendering: optimizelegibility;

	font-family: verdana, arial, helvetica, sans-serif !important;
	font-size: 16px !important;
	font-weight: 700;
	line-height: 1.3;

	color: rgb( 204, 102, 0 ) !important;
}

a,
a:active,
a:link,
a:visited
{
	text-decoration: none;
	color: rgb( 0, 102, 192 );
}

img
{
	max-width: 100%;
	border-width: 0px;
	vertical-align: top;
}

fieldset
{
	border-style: none;
	border-width: 0px;

	padding: 0px;
	margin: 0px;
}

fieldset label:last-child
{
	margin-bottom: 0px;
}

input
{
	margin: 0px;
	font-family: Arial, sans-serif;
	font-size: 100%;
	vertical-align: middle;
	line-height: 19px;
}

input[type="checkbox"]
{
	height: 13px;
	width: 13px;
	vertical-align: top;
	position: relative;
	bottom: -3px;
}

input[type="submit"]
{
	cursor: pointer;
	-webkit-appearance: button;
}

label
{
    display: block;
    padding-left: 2px;
    padding-bottom: 2px;
    font-weight: 700;
}

.a-container
{
	min-width: 996px;
	padding: 0px 18px 18px 18px;
	margin: 20px auto 0px auto;
}

.a-section
{
	margin-bottom: 22px;
}

.a-section:last-child
{
	margin-bottom: 0px;
}

/* lists */

ul
{
	margin: 0px 0px 18px 18px;
	padding: 0px;
}

ul:last-child
{
	margin-bottom: 0px !important;
}

ul li
{
	list-style-type: disc;
	list-style-position: initial;
	list-style-image: initial;

	word-wrap: break-word;
	margin: 0px;
}

/* a-nostyle */

ul.a-nostyle
{
	margin-left: 0px;
}

ul.a-nostyle li
{
	list-style-type: none;
	list-style-position: initial;
	list-style-image: initial;
}

/* a-horizontal */

ul.a-horizontal
{
	display: block;
	margin-left: 0px;
}

ul.a-horizontal::after,
ul.a-horizontal::before
{
	display: table;
	content: '';
	line-height: 0;
	font-size: 0px;
}

ul.a-horizontal::after
{
	clear: both;
}

ul.a-horizontal li
{
	display: inline-block;
	margin: 0px 10px 0px 0px;
}

ul.a-horizontal li:last-child
{
	margin-right: 0px;
}

/* buttons */

.a-button
{
	background-color: rgb( 231, 233, 236 );
	background-size: initial;
	border-radius: 3px;
	border-top-color: rgb( 173, 177, 184 );
	border-right-color: rgb( 162, 166, 172 );
	border-bottom-color: rgb( 141, 144, 150 );
	border-left-color: rgb( 162, 166, 172 );
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	display: inline-block;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	text-decoration: none !important;
}

.a-button + .a-button
{
	margin-left: 0.385em;
}

.a-button-primary
{
	background-color: rgb( 240, 193, 75 );
	border-top-color: rgb( 168, 135, 52 );
	border-right-color: rgb( 156, 126, 49 );
	border-bottom-color: rgb( 132, 106, 41 );
	border-left-color: rgb( 156, 126, 49 );
}

.a-button-input
{
	position: absolute;
	background-color: rgb( 255, 255, 255 );
	color: rgb( 255, 255, 255 );
	border-width: 0px;
	cursor: pointer;
	height: 100%;
	width: 100%;
	left: 0px;
	top: 0px;
	opacity: 0.01;
	outline-width: 0px;
	overflow: visible;
	z-index: 20;
}

.a-button-text
{
	background-color: transparent;
	border-width: 0px;
	display: block;
	font-family: Arial, sans-serif;
	font-size: 13px;
	line-height: 29px;
	margin: 0px;
	outline-width: 0px;
	padding: 0px;
	text-align: center;
	white-space: nowrap;
}

.a-button .a-button-inner
{
	display: block;
	position: relative;
	overflow: hidden;
	height: 29px;
	border-radius: 2px;

	background-image: linear-gradient( rgb( 247, 248, 250 ), rgb( 231, 233, 236 ) );
	box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0px inset;
}

.a-button-primary .a-button-inner
{
	background-image: linear-gradient( rgb( 247, 223, 165 ), rgb( 240, 193, 75 ) );
	box-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px inset;
}

.a-button.a-button-small
{
	height: 22px;
}

.a-button.a-button-small .a-button-inner,
.a-button.a-button-small.a-button-focus .a-button-inner,
.a-button.a-button-small:active .a-button-inner,
.a-button.a-button-small:focus .a-button-inner,
.a-button.a-button-small:hover .a-button-inner,
.a-button.a-button-small:focus:active .a-button-inner
{
	height: 20px !important;
}

.a-button.a-button-small .a-button-text
{
	font-size: 11px;
	height: 20px;
	line-height: 20px;
	padding: 0px 6px 0px 7px;
}

/* button-stack */

.a-button-stack .a-button
{
	margin-bottom: 10px;
	display: block;
}

.a-button-stack .a-button:last-child
{
	margin-bottom: 0px;
}

.a-button-stack .a-button + .a-button
{
	margin-left: 0px;
}

/* checkbox */

.a-checkbox label
{
	position: relative;
	font-weight: 400;
	padding-left: 15px;
	padding-bottom: 0px;
	text-indent: -15px;
	margin-left: 3px;
	top: -2px;
}

.a-checkbox-label
{
	position: relative;
	padding-left: 5px;
	text-indent: 0px;
	display: inline-block;
}

/* text */

.a-size-base
{
	font-size: 13px !important;
	line-height: 19px !important;
}

.a-size-medium
{
	font-family: Arial, sans-serif;
	text-rendering: optimizelegibility;
	font-size: 17px !important;
	line-height: 1.255 !important;
}

.a-size-large
{
	font-family: Arial, sans-serif;
	text-rendering: optimizelegibility;
	font-size: 21px !important;
	line-height: 1.3 !important;
}

.a-spacing-base
{
	margin-bottom: 14px !important;
}

.a-spacing-top-base
{
	margin-top: 14px !important;
}

.a-spacing-mini
{
	margin-bottom: 6px !important;
}

.a-align-center
{
	vertical-align: middle !important;
}

.a-text-center
{
	text-align: center !important;
}

.a-text-bold
{
	font-weight: 700 !important;
}

.a-color-secondary
{
	color: rgb( 85, 85, 85 ) !important;
}

.a-color-tertiary
{
	color: rgb( 118, 118, 118 ) !important;
}

.a-color-price
{
	color: rgb( 177, 39, 4 ) !important;
}

/* sims-fbt */

.sims-fbt-image-box
{
	float: left;
	margin-right: 25px;
	line-height: 116px;
	vertical-align: middle;
}

.sims-fbt-image
{
	vertical-align: middle;
}

.sims-fbt-price-box
{
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.sims-fbt-buttons
{
	display: inline-block;
	padding-top: 6px;
}

.sims-fbt-rows
{
	clear: left;
}

.sims-fbt-checkbox input
{
	display: none;
}

.sims-fbt-checkbox span
{
	margin-right: 2px;
}

.sims-fbt-this-item
{
	margin-right: 3px;
}
